/* цвет основного текста #757575*/
/* вторичный цвет текста #212121 */
/* цвет акцента 2196f3*/
/* белый #ffffff */
/* outline: 2px solid tomato; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-background: #f5f4fa;
  --footer-background: #2f303a;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}
/* Лого */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
}
.logo-accent,
.logo-regular:hover {
  color: var(--accent-color);
}
.logo-regular,
.logo-accent:hover {
  color: var(--title-text-color);
}
nav a,
.auth-nav a {
  text-decoration: none;
}
/* Site nav */
.site-nav,
.auth-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  margin-left: 80px;
}
.auth-nav {
  margin-left: auto;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.auth-nav .item:not(:last-child) {
  margin-right: 30px;
}
.site-nav .link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .current:visited {
  color: var(--accent-color);
}

.main-nav {
  display: flex;
  align-items: center;
}
.left-nav {
  display: flex;
  align-items: center;
}
.auth-nav a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}

/* Главный заголовок */
.hero {
  color: var(--primary-white-color);
  background-color: var(--primary-text-color);
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 46px;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* outline: 2px solid tomato; */
}
.section-title {
  margin: 0;
  padding: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.section,
.container.item-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.section.no-top-padding {
  padding-top: 0;
}
/* Особенности */
.features img:hover {
  background-color: var(--accent-color);
}
.features .title {
  color: var(--title-text-color);
  padding: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.title.centered {
  text-align: center;
}
.features p {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.features {
  display: flex;
}
.features .item:not(:last-child) {
  margin-right: 30px;
}
.scope {
  display: flex;
}
.scope .item:not(:last-child) {
  margin-right: 30px;
}

.team {
  display: flex;
  text-align: center;
}
.team .item:not(:last-child) {
  margin-right: 30px;
}
.social-link-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social-link-list .item:not(:last-child) {
  margin-right: 30px;
}
.client-list {
  display: flex;
  justify-content: center;
}
.client-list .item:not(:last-child) {
  margin-right: 30px;
}
.client-list .item {
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 19px;
  padding-bottom: 19px;
  outline: 1px solid var(--primary-text-color);
}
/* Секция сфер деятельности */
.scope h3 {
  color: var(--primary-white-color);
  background-color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* Секция команда */
.section.second-bcg {
  background-color: var(--second-background);
}
.team .title {
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}
.team-social-link:hover {
  background-color: var(--accent-color);
}
/* Футер */
.footer a {
  text-decoration: none;
}
footer {
  color: var(--primary-white-color);
  background-color: var(--primary-text-color);
}
address {
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 9px;
}
.footer-offer {
  display: inline-block;
  margin-bottom: 21px;
}
.adress-transparency,
.footer-transparency {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-transparency {
  font-size: 12px;
  line-height: 2;
  margin: 0;
  margin-top: 46px;
  text-align: center;
}
footer b {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer-soclink {
  display: flex;
}
.footer-soclink .item:not(:last-child) {
  margin-right: 11px;
}
.footer .social-link {
  color: var(--primary-white-color);
}
.footer .social-link:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.footer-email {
  display: flex;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
}
/* Кнопка на главной */
.main-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}
.main-button:hover,
.main-button:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  font-family: inherit;
  text-decoration: none;
  border: 1px solid var(--accent-color);
}

.footer-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.footer-button:hover,
.footer-button:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  border-color: var(--accent-color);
}

/* Кнопки-фильтры */
.portfolio-title {
  margin: 0;
  padding: 0;
  text-align: center;
}
.button-portfolio {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--second-background);
  font-family: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  text-decoration: none;
  border: 1px solid transparent;
}

/* Портфолио фильтр */
ul .portfolio-list {
  color: var(--title-text-color);
  background-color: var(--second-background);
}
img {
  display: block;
}
.list-filter {
  display: flex;
  justify-content: center;
}

.list-works {
  display: flex;
  flex-wrap: wrap;
}
.list-filter .item:not(:last-child) {
  margin-right: 8px;
}

.list-works .item {
  width: 380px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.list-works .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.list-works .item:nth-child(3n) {
  margin-right: 0;
}
.examples-works h3 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples-works p {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.works-title {
  margin-top: 20px;
  margin-bottom: 4px;
}
.descr-list {
  margin-top: 0;
  margin-bottom: 0;
}
.work-name {
  margin-top: 0;
  margin-bottom: 20px;
}
